<!DOCTYPE html>
<html>
<style>
  #colorbox {
      background-color: white;
  }
</style>
  <h3>Contribute to this open source project!</h3>
  <p>
    We're continually looking to update this dashboard with powerful insights extracted from rich data and metrics. We strongly encourage developers to fork the source code and submit a pull request with new features.
  </p>
  <ol>
    <li><a href='https://github.com/HPE-Haven-OnDemand/politicians-twitter-sentiment-analysis/fork' target='_blank'>Fork it</a></li>
    <li>Create your feature branch (git checkout -b my-new-feature)</li>
    <li>Commit your changes (git commit -am 'Add some feature')</li>
    <li>Push to the branch (git push origin my-new-feature)</li>
  </ol>
  <h3>Priorities</h3>
  <p>
    We encourage developers to add to this as they see fit. Here is what we think woud be neat additions to this dashboard:
  </p>
  <ul>
    <li>Historical, searchable graphs (line, bar, or chart) of the information presented on this dashboard.</li>
    <li>How each of the candidates stand on particular issues.</li>
    <li>Each of the candidates plans once in office (taxes, military, etc)</li>
    <li>Each of the candidates most recent tweets.</li>
  </ul>
  <h3>Stack</h3>
  <ul>
    <li>Node.js</li>
    <li><a href='http://www.grommet.io/' target='_blank'>Grommet</a></li>
    <li><a href='http://havenondemand.com/' target='_blank'>HPE Haven OnDemand</a></li>
    <li><a href='http://socket.io/' target='_blank'>socket.io</a></li>
  </ul>
</html>
