<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Politician Sentiment Analysis</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700' rel='stylesheet' type='text/css'>
  <link href='http://grommet.io/assets/latest/css/grommet.min.css' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="http://grommet.io/assets/latest/grommet.min.js"></script>
  <style>
  .meter--bar .meter__value {
    /*display: none;*/
    visibility: hidden;
  }
  </style>
</head>
<body>
  <!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>
  <div id="content"></div>
  <script type="text/babel">

  var socket = io();

  var SentimentMeters = React.createClass({
    getInitialState: function() {
      var data = {
        "Bernie Sanders": {
          tweet: "",
          positive: {},
          negative: {},
          aggregate: {},
          rgbInstantaneous: {},
          rgbAverage: {},
          average: 0.0,
          n: 0,
          nNeutral: 0,
          nNegative: 0,
          nPositive: 0
        },
        "Hillary Clinton": {
          tweet: "",
          positive: {},
          negative: {},
          aggregate: {},
          rgbInstantaneous: {},
          rgbAverage: {},
          average: 0.0,
          n: 0,
          nNeutral: 0,
          nNegative: 0,
          nPositive: 0
        },
        "Donald Trump": {
          tweet: "",
          positive: {},
          negative: {},
          aggregate: {},
          rgbInstantaneous: {},
          rgbAverage: {},
          average: 0.0,
          n: 0,
          nNeutral: 0,
          nNegative: 0,
          nPositive: 0
        },
        "Ted Cruz": {
          tweet: "",
          positive: {},
          negative: {},
          aggregate: {},
          rgbInstantaneous: {},
          rgbAverage: {},
          average: 0.0,
          n: 0,
          nNeutral: 0,
          nNegative: 0,
          nPositive: 0
        },
        "Marco Rubio": {
          tweet: "",
          positive: {},
          negative: {},
          aggregate: {},
          rgbInstantaneous: {},
          rgbAverage: {},
          average: 0.0,
          n: 0,
          nNeutral: 0,
          nNegative: 0,
          nPositive: 0
        },
        "Ben Carson": {
          tweet: "",
          positive: {},
          negative: {},
          aggregate: {},
          rgbInstantaneous: {},
          rgbAverage: {},
          average: 0.0,
          n: 0,
          nNeutral: 0,
          nNegative: 0,
          nPositive: 0
        }
      }
      return data;
    },

    _onMessageReceived: function (msg) {
      console.log(msg);
      if (msg.candidate === "SenSanders") {
        this.setState({"Bernie Sanders": {
          tweet: msg.tweet,
          positive: msg.positive,
          negative: msg.negative,
          aggregate: msg.aggregate,
          rgbInstantaneous: msg.rgbInstantaneous,
          rgbAverage: msg.rgbAverage,
          average: Math.floor(msg.average),
          n: msg.n,
          nNeutral: msg.nNeutral,
          nNegative: msg.nNegative,
          nPositive: msg.nPositive
          }
        });
      } else if (msg.candidate === "HillaryClinton") {
        this.setState({"Hillary Clinton": {
          tweet: msg.tweet,
          positive: msg.positive,
          negative: msg.negative,
          aggregate: msg.aggregate,
          rgbInstantaneous: msg.rgbInstantaneous,
          rgbAverage: msg.rgbAverage,
          average: Math.floor(msg.average),
          n: msg.n,
          nNeutral: msg.nNeutral,
          nNegative: msg.nNegative,
          nPositive: msg.nPositive
          }
        });
      } else if (msg.candidate === "realDonaldTrump") {
        this.setState({"Donald Trump": {
          tweet: msg.tweet,
          positive: msg.positive,
          negative: msg.negative,
          aggregate: msg.aggregate,
          rgbInstantaneous: msg.rgbInstantaneous,
          rgbAverage: msg.rgbAverage,
          average: Math.floor(msg.average),
          n: msg.n,
          nNeutral: msg.nNeutral,
          nNegative: msg.nNegative,
          nPositive: msg.nPositive
          }
        });
      } else if (msg.candidate === "tedcruz") {
        this.setState({"Ted Cruz": {
          tweet: msg.tweet,
          positive: msg.positive,
          negative: msg.negative,
          aggregate: msg.aggregate,
          rgbInstantaneous: msg.rgbInstantaneous,
          rgbAverage: msg.rgbAverage,
          average: Math.floor(msg.average),
          n: msg.n,
          nNeutral: msg.nNeutral,
          nNegative: msg.nNegative,
          nPositive: msg.nPositive
          }
        });
      } else if (msg.candidate === "marcorubio") {
        this.setState({"Marco Rubio": {
          tweet: msg.tweet,
          positive: msg.positive,
          negative: msg.negative,
          aggregate: msg.aggregate,
          rgbInstantaneous: msg.rgbInstantaneous,
          rgbAverage: msg.rgbAverage,
          average: Math.floor(msg.average),
          n: msg.n,
          nNeutral: msg.nNeutral,
          nNegative: msg.nNegative,
          nPositive: msg.nPositive
          }
        });
      } else if (msg.candidate === "RealBenCarson") {
        this.setState({"Ben Carson": {
          tweet: msg.tweet,
          positive: msg.positive,
          negative: msg.negative,
          aggregate: msg.aggregate,
          rgbInstantaneous: msg.rgbInstantaneous,
          rgbAverage: msg.rgbAverage,
          average: Math.floor(msg.average),
          n: msg.n,
          nNeutral: msg.nNeutral,
          nNegative: msg.nNegative,
          nPositive: msg.nPositive
          }
        });
      } else {
        console.log("No candidate detected");
      }
    },

    componentDidMount: function () {
      socket.on('message', this._onMessageReceived);
    },

    render: function () {
      return (
        <div className="messages">
          <Grommet.Split>
            <Grommet.Article size="small">
              <Grommet.Header pad={{horizontal: 'medium'}}>Current Average Public Sentiment from 0 to 100</Grommet.Header>
              <Grommet.Meter size="large" legend={{total: false}} min={{"value": 0, "label": "Low Sentiment"}} max={{"value": 100, "label": "High Sentiment"}} series={[
                  {"label": "Sanders", "value": this.state["Bernie Sanders"].average, "colorIndex": "graph-1"},
                  {"label": "Clinton", "value": this.state["Hillary Clinton"].average, "colorIndex": "graph-2"},
                  {"label": "Trump", "value": this.state["Donald Trump"].average, "colorIndex": "graph-3"},
                  {"label": "Cruz", "value": this.state["Ted Cruz"].average, "colorIndex": "graph-4"},
                  {"label": "Rubio", "value": this.state["Marco Rubio"].average, "colorIndex": "graph-5"},
                  {"label": "Carson", "value": this.state["Ben Carson"].average, "colorIndex": "graph-6"},
                ]} />

              <Grommet.Header pad={{horizontal: 'small'}}>Past Average Public Sentiment By Day from 0 to 100</Grommet.Header>
              <Grommet.Chart series={[
                {
                  "label": "first",
                  "values": [[8, 1], [7, 2], [6, 3], [5, 2], [4, 3], [3, 3], [2, 2], [1, 4]],
                  "colorIndex": "graph-1"
                },
                {
                  "label": "second",
                  "values": [[8, 4], [7, 2], [6, 3], [5, 4], [4, 3], [3, 0], [2, 1], [1, 0]],
                  "colorIndex": "graph-2"
                }
              ]} max={5} threshold={3} legend={{}} points={true} xAxis={{
                "placement": "bottom",
                "data": [
                  {"label": "May 22", "value": 8},
                  {"label": "May 21", "value": 7},
                  {"label": "May 20", "value": 6},
                  {"label": "May 19", "value": 5},
                  {"label": "May 18", "value": 4},
                  {"label": "May 17", "value": 3},
                  {"label": "May 16", "value": 2},
                  {"label": "May 15", "value": 1}
                ]
              }} units="TB" thresholds={[
                {"label": "OK", "value": 0, "colorIndex": "ok"},
                {"label": "Warning", "value": 3, "colorIndex": "warning"},
                {"label": "Error", "value": 4, "colorIndex": "error"}
              ]} />

            </Grommet.Article>
            <Grommet.Tabs>
              <Grommet.Tab title="Bernie Sanders">
                <Grommet.Box>
                  <Grommet.Sidebar colorIndex="light-1">
                    <Grommet.Header pad={{horizontal: 'small'}}>Bernie Sanders</Grommet.Header>
                    <Grommet.Image src="img/bernie.jpg" size="small" full={false} />
                    <Grommet.Article>
                      <Grommet.Header pad={{horizontal: 'medium'}}>Bio</Grommet.Header>
                      <Grommet.Section pad="medium">This is cool stuff</Grommet.Section>
                    </Grommet.Article>
                  </Grommet.Sidebar>
                </Grommet.Box>
              </Grommet.Tab>
              <Grommet.Tab title="Hillary Clinton">
                <Grommet.Box align="end">
                  <Grommet.Sidebar colorIndex="light-1">
                    <Grommet.Header pad={{horizontal: 'small'}}>Hillary Clinton</Grommet.Header>
                    <Grommet.Image src="img/hillary.jpg" size="small" full={false} />
                    <Grommet.Article>
                      <Grommet.Header pad={{horizontal: 'medium'}}>Bio</Grommet.Header>
                      <Grommet.Section pad="medium">This is cool stuff</Grommet.Section>
                    </Grommet.Article>
                  </Grommet.Sidebar>
                </Grommet.Box>
              </Grommet.Tab>
            </Grommet.Tabs>
          </Grommet.Split>
        </div>
      );
    }
  });

    var App = React.createClass({
      render: function() {
        return (
          <Grommet.App>
            <Grommet.Section pad={{horizontal: 'medium'}}>
              <SentimentMeters />
            </Grommet.Section>
            <Grommet.Section pad={{horizontal: 'medium'}}>
            </Grommet.Section>
          </Grommet.App>
        );
      }
    });

    var element = document.getElementById('content');
    ReactDOM.render(React.createElement(App), element);
  </script>
</body>
</html>
