<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Politician Sentiment Analysis</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700' rel='stylesheet' type='text/css'>
  <link href='http://grommet.io/assets/latest/css/grommet.min.css' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="http://grommet.io/assets/latest/grommet.min.js"></script>
  <style>
  .meter--bar .meter__value {
    /*display: none;*/
    visibility: hidden;
  }
  </style>
</head>
<body>
  <!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>
  <div id="content"></div>
  <script type="text/babel">

  var socket = io();

  var SentimentMeters = React.createClass({
    getInitialState: function() {
      var data = {
        "Bernie Sanders": {
          averages: {newAvg: 0, oldAvg: 0},
          n: 0,
          nPositive: 0,
          nNegative: 0,
          nNeutral: 0
        },
        "Hillary Clinton": {
          averages: {newAvg: 0, oldAvg: 0},
          n: 0,
          nPositive: 0,
          nNegative: 0,
          nNeutral: 0
        }
      }
      return data;
    },

  _onMessageReceived: function (msg) {
      console.log(msg);
      this.setState({user: msg.user, number: msg.number});
  },

    componentDidMount: function () {
      socket.on('message', this._onMessageReceived);
    },

    render: function () {
      return (
        <div className="messages">
          <Grommet.Split>
            <Grommet.Article size="small">
              <Grommet.Header pad={{horizontal: 'medium'}}>Instantaneous Sentiments</Grommet.Header>
              <Grommet.Meter legend={{total: false}} series={[
                  {"label": "Bernie Sanders", "value": 100, "colorIndex": "graph-1"},
                  {"label": "Hillary Clinton", "value": 200, "colorIndex": "graph-2"},
                  {"label": "Donald Trump", "value": 100, "colorIndex": "graph-3"},
                ]} />

              <Grommet.Header pad={{horizontal: 'small'}}>Average Sentiment Over Time</Grommet.Header>
              <Grommet.Chart series={[
                {
                  "label": "first",
                  "values": [[8, 1], [7, 2], [6, 3], [5, 2], [4, 3], [3, 3], [2, 2], [1, 4]],
                  "colorIndex": "graph-1"
                },
                {
                  "label": "second",
                  "values": [[8, 4], [7, 2], [6, 3], [5, 4], [4, 3], [3, 0], [2, 1], [1, 0]],
                  "colorIndex": "graph-2"
                }
              ]} max={5} threshold={3} legend={{}} points={true} xAxis={{
                "placement": "bottom",
                "data": [
                  {"label": "May 22", "value": 8},
                  {"label": "May 21", "value": 7},
                  {"label": "May 20", "value": 6},
                  {"label": "May 19", "value": 5},
                  {"label": "May 18", "value": 4},
                  {"label": "May 17", "value": 3},
                  {"label": "May 16", "value": 2},
                  {"label": "May 15", "value": 1}
                ]
              }} units="TB" thresholds={[
                {"label": "OK", "value": 0, "colorIndex": "ok"},
                {"label": "Warning", "value": 3, "colorIndex": "warning"},
                {"label": "Error", "value": 4, "colorIndex": "error"}
              ]} />

            </Grommet.Article>
            <Grommet.Box align="end">
              <Grommet.Sidebar colorIndex="light-1">
                <Grommet.Header pad={{horizontal: 'small'}}>Bernie Sanders</Grommet.Header>
                <Grommet.Image src="img/bernie.jpg" size="small" full={false} />
                <Grommet.Article>
                  <Grommet.Header pad={{horizontal: 'medium'}}>Bio</Grommet.Header>
                  <Grommet.Section pad="medium">This is cool stuff</Grommet.Section>
                </Grommet.Article>
              </Grommet.Sidebar>
            </Grommet.Box>
          </Grommet.Split>
        </div>
      );
    }
  });

    var App = React.createClass({
      render: function() {
        return (
          <Grommet.App>
            <Grommet.Header direction="row" justify="between" large={true} pad={{horizontal: 'medium'}}>
              <Grommet.Title>Politician Sentiment Analysis</Grommet.Title>
            </Grommet.Header>
            <Grommet.Section pad={{horizontal: 'medium'}}>
              <SentimentMeters />
            </Grommet.Section>
            <Grommet.Section pad={{horizontal: 'medium'}}>
            </Grommet.Section>
          </Grommet.App>
        );
      }
    });

    var element = document.getElementById('content');
    ReactDOM.render(React.createElement(App), element);
  </script>
</body>
</html>
