<!DOCTYPE html>
<html>
<style>
  #colorbox {
      background-color: white;
  }
</style>
  <h3>What is this dashboard?</h3>
  <p>
    A real time analysis of the public's sentiment via Twitter of America's presidential candidates in the upcoming 2016 election and recent news articles relating to each of the candidates.
  </p>
  <h3>What is sentiment analysis?</h3>
  <p>
    <a href="https://dev.havenondemand.com/apis/analyzesentiment#overview" target="_blank">Sentiment analysis</a> is a Hewlett-Packard Enterprise <a href="https://www.havenondemand.com/" target="_blank">Haven OnDemand</a> API that extracts positive and negative sentiments from text. The API operates by matching the structure of the sentence, recognizing the nouns, verbs, and other parts of speech, and then classifying the sentence based on the classification of the constituent words as positive, negative, or neutral. It identifies both the topic and the sentiment.
  </p>
  <p>
    For more information on how to best use sentiment analysis, see <a href="https://dev.havenondemand.com/docs/HowTo_SentimentAnalysis.html" target="_blank">here</a>.
  </p>
  <h3>What do these bar graphs mean?</h3>
  <p>
    On the left, for each set of graphs, each candidate has their own coresponding bar which changes in accordance to the public sentiment on Twitter. The more positive the overall sentiment, the higher the bar goes. The more negative the overall sentiment, the lower the bar goes.
  </p>
  <h3>How is the sentiment scored?</h3>
    <p>
      Scores of sentiments from 0 to 49 are considered negative.
    <p>
      Scores of sentiments of 50 are considered neutral.
    </p>
    <p>
      Scores of sentiments from 51 to 100 are considered positive.
    </p>
</html>
